@model List<ProyectoDesarrWebU2.Models.ViewModels.ListUsuarioViewModel>
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <form class="contenedor" action="@Url.Action("Index","Pelicula")" method="post">
        <h1>Bienvenido</h1>
        <label>Usuario: <input type="text" placeholder="Ingrese su nombre:" name="nombreusuario" require></label>
        <br>
        <label> Contraseña: <input type="password" placeholder="Ingrese su contraseña:" name="claveusuario" require></label>
        <input type="submit" value="Ingresar">
        <p style="margin-top: 10px;">¿No tienes cuenta? </p>
        <a href="">Registrar</a>
        <a href="">Cancelar</a>
    </form>
    </div>

<style>
    * {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .contenedor {
        padding: 20px 20px;
        background-color: #fdf7f7a6;
        border-style: outset;
        border-width: 1px;
        width: 30%;
        height: 70%;
        position:relative;
        margin-bottom: 30px;
        left: 38%;
    }

    h1 {
        text-align: center;
        padding: 12px;
        color: #161614;
    }

    input {
        width: 90%;
        padding: 9px;
        margin: auto;
        margin-top: 12px;
        font-size: 16px
    }

        input[type='submit'] {
            background-color: rgb(28, 36, 48);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #fff;
            width: 50%;
            margin: 0 10%;
            margin-top: 22px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }

    #boton > input:hover {
        cursor: pointer;
    }

    #registrar {
        padding-left: 10%;
    }

    #cancelarsesion {
        border: solid 2px black;
        width: 80px;
        height: 20px;
        text-align: center;
        align-content: center;
        padding: 7px;
        margin: 10px;
        background-color: #070917a6;
        border-radius: 10px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

        #cancelarsesion > a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
        }
</style>

